header {
  background-color: #55d6aa;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#arraySizeAdjuster {
  flex-grow: 1;
  margin: 30px auto;
}
#sortPicker {
  flex-grow: 2.5;
}

#sortPicker ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#controlContainer {
  flex-grow: 1;
}

#controlContainer div {
  width: 100px;
  margin: 30px auto;
}

/* #sortPicker ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sortPicker li {
  display: inline-block;
  margin-left: 35px; 
} */
